.contact {
  font-family: Arial, sans-serif;
  color: #333;
}


.contact-hero {
  background:  #5a67d8;;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.contact-hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}


.contact-container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* FORM */
.contact-form {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form h2 {
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form button {
  padding: 12px;
  background:  #5a67d8;;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ff5e3a;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.info-card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
