.image-slider-container {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
    margin-top: 6rem;
  }
  
  .slider-images {
    display: flex;
    transition: transform 1s ease; 
  }
  
  .slider-item {
    min-width: 100%;
    height: 100%;
  }
  
  .slider-item img {
    width: 100%; 
    height: 450px; 
    object-fit: cover; 
  }
  
  .slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgb(238, 5, 5);
  }
  
  .dot:hover {
    background-color: rgb(245, 4, 4);
  }

  @media (max-width: 768px) {
    .image-slider-container {
      height: 300px; 
    }
  
    .slider-item img {
      width:100%;
      height: 300px; 
    }
  }
  @media (max-width: 568px) {
  
    .slider-item img {
      height: 250px; 
    }
  }
  